<p>Hi {{ username }},</p>

<p>Thanks for signing up for <b>Proppy</b> and we hope you are enjoying it.</p>

<p>This is just an email to let you know that your free trial is ending in 4 days.</p>

<p>We'd love to have you as a customer! Visit the <a href="{{ base_url }}/settings/billing">billing page</a>
to sign up to one of the plans.</p>

<p>If you decide not to, you will still be able to access your proposals and your published ones
will stay online.</p>

<p>As always, you can just reply to this email if you have any questions or feedback.</p>

<p>Tom & Vincent.</p>

<p style="font-size:small;-webkit-text-size-adjust:none;color:#666;">
    &mdash;<br />
    Follow us on <a href="https://twitter.com/ProppyIO">Twitter</a> for updates<br />
    <a href="{{ base_url }}/unsubscribe?token={{ token }}">Unsubscribe</a> from our emails
</p>
