<p>
  Hi there,
</p>

<p>
I'm Vincent, one of the co-founders. I hope you are enjoying Proppy.
</p>

<p>
    We want to make Proppy the best possible tool to write proposals, and to accomplish that we would love to get your feedback.
</p>

<p>
    What did you like or dislike? Please let us know! <br>
    You can just reply to this email.
</p>

<p>
    All the best from London, <br>
    Vincent
</p>

<p style="font-size:small;-webkit-text-size-adjust:none;color:#666;">
    &mdash;<br />
    Follow us on <a href="https://twitter.com/ProppyIO">Twitter</a> for updates<br />
    <a href="{{ base_url }}/unsubscribe?token={{ token }}">Unsubscribe</a> from our emails
</p>
