.comment-box {
  width: calc(#{$comments-width} - 4rem);
  margin-left: 4rem;
  border-left: 5px solid color(primary, light);
  padding: 0 1rem;
  background: white;
  z-index: z(modal);

  .comment {
    padding-bottom: 0.5rem;

    &__username {
      display: block;
      color: color(primary, base);
    }

    &__time {
      color: color(grays, base);
      font-size: fontsize(small);
    }

    &__content {
      word-wrap: break-word;
      white-space: pre-wrap;
    }
  }
}

.comment-form {
  lost-utility: clearfix;

  textarea {
    @include reset-input;
    padding: 0;
    display: block;
    resize: none;
    width: 100%;
    min-height: 50px;
    height: 50px;
  }

  .button {
    display: block;
    padding: 0.5rem;
    margin: 0.5rem 0;
    float: right;
    font-size: 1rem;
  }

  &__username {
    display: block;
    color: color(primary, base);
  }
}


@media screen and (max-width: 900px) {
  .comment-box {
    width: 0;
    display: none;
  }
}
