// Feedback inspired by todoist (https://github.com/WeAreWizards/proppyweb/issues/175)
// TODO - proper styling + design
.notification_popup {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0%); // center
    padding: 1rem 2rem;
    color: white;
    background: #444;
    border-radius: 5px;
    box-shadow: 2px 2px 15px -2px black;
    display: none;
    z-index: 1000000;

    .notification_popup__action {
        margin-left: 1rem;
        text-transform: uppercase;
    }
}
.notification_popup--visible {
    display: block;
    animation: popin .25s;
}
.notification_popup--error {
    background: #933;
}


@keyframes popin {
    0% { transform: translate(-50%, 0%) scale(0.1, 0.1); }
    70% { transform: translate(-50%, 0%) scale(1.1, 1.1); }
    100% { transform: translate(-50%, 0%) scale(1.0, 1.0); }
}
